<h1>Where's My Bus?</h1>


<h3>Give us your address or approximate location (I'm at the intersection of 14th and Piedmont St.) and we will find the closest buses to you!</h3>


<%= render 'form', location: @location %>

<%= link_to 'Back', locations_path %>
